
<style>
    .grey1{
         background-color: #ccc;
         padding: 10px;
         
         margin-right: -290px;
         margin-left: 10px;

       }
    </style>

<h1>Home index</h1>
<hr>
<diV class="grey1">
          <div class ="">
              <div class="well"> <p><marquee>BIENVENUE SUR MON MEGA SUPER SITE WEB</marquee></p></div>
          </div>
</div>
